<h1>Products View</h1>
{{#if products}}
    <div class="products-container">
        <div class="products-header">
            <p>Name</p>
            <p>Price</p>
            <p>Picture</p>
        </div>
        <div class="products">
            {{#each products}}
                <div class="product-item">
                    <p>{{this.title}}</p>
                    <p>$ {{this.price}}</p>
                    <img src="{{this.thumbnail}}" alt="image of {{this.title}}">
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    <div class="product-alert-container"><h2 class="product-alert">Products not found.</h2></div>
{{/if}}
<a class="btn btn-primary">To Form</a>

